[features]
seeds = false
skip-lint = false

[programs.devnet]
blind_auction = "7TY1q4ZJA9juVLcb9dfKAtoiiUwsDsfD8szRFm2cVW4x"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = [
  "programs/blind_auction",
  "encrypted-ixs",
]
